<div class="grid grid-cols-12 mb-2 items-center">
  <div class="col-span-9 flex">
    <p class="">
      <% if next_action.complete? %>
        <s>
      <% end %>

      <span class="inline-block">
        <%= next_action.name %>
      </span>

      <% if next_action.projects.any? && !local_assigns[:project_view] %>
        &mdash;

        <% next_action.projects.each do |project| %>
          <%= link_to project, class: "text-blue-500 underline inline ml-0.5 break-words" do %>
            <%= project.name %>
          <% end %>
        <% end %>
      <% end %>

      <% if next_action.complete? %>
        </s>
      <% end %>
    </p>
  </div>

  <div class="col-span-3 flex justify-end items-center">
    <% if next_action.incomplete? %>
      <%= link_to "Edit", edit_next_action_path(next_action), class: "text-blue-500 underline mr-2" %>
    <% end %>

    <% if next_action.complete? %>
      <%= button_to "Mark as incomplete", incomplete_next_action_path(next_action),
        class: "border border-black px-2 py-1" %>
    <% else %>
      <%= button_to "Mark as complete", complete_next_action_path(next_action),
        class: "border border-black px-2 py-1" %>
    <% end %>
  </div>
</div>
