<%= form_with model: project, class: "mb-16" do |form| %>
  <%= form.text_field :name,
    class: "w-full mb-8",
    placeholder: "Type your project title here...",
    autofocus: current_page?(new_project_path) %>

  <%= form.rich_text_area :content,
    class: "prose-sm mb-8",
    autofocus: current_page?(project),
    data: { action: 'focusout->autosave#save click@window->autosave#save' }
  %>

  <div class="block mb-2">
    <%= form.label :incubating_until, class: "block mb-1" %>
    <%= form.text_field :incubating_until, class: "w-full" %>
  </div>

  <div class="block mb-2">
    <%= form.label :waiting_for, class: "block mb-1" do %>
      Waiting for

      <% if project.waiting_since.present? %>
        (since <%= local_time_ago(project.waiting_since) %>)
      <% end %>
    <% end %>

    <%= form.text_field :waiting_for, class: "w-full mb-1" %>
  </div>

  <%= form.submit class: "border border-black px-2 py-1" %>
<% end %>

<div class="mb-16">
  <div class="flex justify-between">
    <h2 class="font-bold mb-4">
      Next Actions in project
    </h2>

    <%= link_to "New next action", new_next_action_path(project_id: project), class: "text-blue-500 underline" %>
  </div>

  <%= render @project.next_actions, project_view: true %>
</div>
