<%= form_with model: project do |form| %>
  <%= form.text_field :name,
    class: "w-full mb-8",
    placeholder: "Type your project title here...",
    autofocus: current_page?(new_project_path) %>

  <%= form.rich_text_area :content,
    class: "prose-sm mb-8",
    autofocus: current_page?(project),
    data: { action: 'focusout->autosave#save click@window->autosave#save' }
  %>

  <div class="block mb-2">
    <%= form.label :incubating_until, class: "block mb-1" %>
    <%= form.text_field :incubating_until, class: "w-full" %>
  </div>

  <div class="block mb-2">
    <%= form.label :waiting_for, class: "block mb-1" %>
    <%= form.text_field :waiting_for, class: "w-full" %>
  </div>

  <%= form.submit %>
<% end %>
