<%= link_to project,
  class: "flex justify-between border-b-2 py-2 transition border-b " +
    if current_page?(project)
      "border-black text-black"
    else
      "border-gray-300 hover:border-black text-gray-600 hover:text-black"
    end do %>
  <span>
    <%= project.name %>

    <% if project.incubating? %>
      <span class="text-xs text-gray-500">
        incubating until <%= local_relative_time project.incubating_until %>
      </span>
    <% end %>

    <% if project.waiting_for? %>
      <span class="text-xs text-gray-500">
        waiting for <%= project.waiting_for %> since <%= local_time_ago project.waiting_since %>
      </span>
    <% end %>

    <% if project.active? && project.missing_next_action? %>
      <span class="text-xs text-red-400">
        missing next action
      </span>
    <% end %>
  </span>

  <% if current_page?(project) %>
    <span>&rarr;</span>
  <% end %>
<% end %>
