<main class="container mx-auto mt-16 px-4">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-6">
      <div class="flex justify-between">
        <h1 class="mb-4">Projects</h1>
        <%= link_to 'New Project', new_project_path, class: "text-blue-500 underline block" %>
      </div>

      <div class="mb-24">
        <%= render @projects.active %>
      </div>

      <details class="mb-4" <%= @project&.incubating? && "open" %>>
        <summary>
          <h2 class="inline-block">Incubating</h2>
        </summary>

        <%= render @projects.incubating %>
      </details>

      <details class="mb-4" <%= @project&.waiting_for? && "open" %>>
        <summary>
          <h2 class="inline-block">Waiting For</h2>
        </summary>

        <%= render @projects.waiting_for %>
      </details>
    </div>

    <div class="col-span-6">
      <%= content_for :active_pane %>
    </div>
  </div>
</main>
