<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex flex-col h-100">
    <main> 
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <%= yield %>

      <% if current_user&.pinned_inbox_item %>
        <%= render 'inbox_items/inbox_item', inbox_item: current_user.pinned_inbox_item %>
      <% end %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
