<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="grow">
      <% if content_for? :content %>
        <%= yield :content %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <% if current_user&.pinned_inbox_item %>
      <div class="sticky bottom-2 mx-auto">
        <%= render 'inbox_items/inbox_item', inbox_item: current_user.pinned_inbox_item, pin: true %>
      </div>
    <% end %>

    <%= render 'shared/footer' %>
  </body>
</html>
